body{
    background-color: darkorange;
}

@media screen and (min-width: 480px){
    body{
        background-color: lightblue;
        content: "480px보다 크다";
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item{
    display: inline-block;
    padding: 30px;
    border: 2px solid yellow;
    background-color: beige;
}

